@model MvcUI.Models.Fake

@{
    Layout = null;
}

<div class="stroke">
    @using (Html.BeginForm("AddFake", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>Add new fake</label>
        @Html.EditorForModel();
        <br />
        <input class="btn btn-inverse" type="submit" value="Add" />
    }
</div>
