body {
    margin: 20px;
    min-width: 700px;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(images\\background.jpg);
}

.stroke {
    text-shadow: white 0 0 1px;
}

Div.subject {
    display:inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

DIV#content {
    margin-left: 0em;
}
