body {
    margin: 20px;
    min-width: 700px;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(images\\background.jpg);
}

DIV#content {
    margin-left: 0em;
}

Div.subject {
    float: left;
    margin-left: 5px;
    margin-right: 50px;
}
Div.subject-editor {
    padding: 5px;
    float: left;
}
Div.subject-editor-add{
    padding: 5px;
    float: right;
}

Div.subjectTests {
    margin-left: 10%;
    float: left;
    max-width: 250px;
}
Div.test-editor {
    padding: 5px;
    float: left;
}
Div.test-editor-add {
    padding: 5px;
    float: right;
}

Div.testQuestions {
    margin-left: 10%;
    max-width: 250px;
    float: left;

}
Div.question-editor {
    padding: 5px;
    float: left;
}
Div.question-editor-add {
    padding: 5px;
    float: right;
}

Div.questionAnswers{
    margin-left: 5%;
    float: left;
    max-width: 120px;
}
Div.questionFakes{
    margin-left: 5%;
    float: left;
    max-width: 120px;
}
Div.answer-editor-add {
    padding: 5px;
    float: right;
}
