body {
    margin: 20px;
    min-width: 700px;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(images\\background.jpg);
    text-align: center; 
}
.stroke {
    text-shadow: white 0 0 1px;
}